@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

@layer components {
    .disabled_swiper_button {
        @apply opacity-0 cursor-auto
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.active {
    background: linear-gradient(to right, #f27121, #e94057);
    color: white;
}